/*                  */
/* Dashboard Styles */
/*                  */

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  padding: 0;
  box-shadow: none;
  border-bottom: 1px solid  grey
}

.dashboard__content {
    padding-bottom: 20px;
}

.dashboard__header {
    /* margin-top: -35px; */
}

.dashboard__headerImage {
    /* height: 55%; */
    /* width: 55%; */
    /* transition: max-height linear .4s; */
    max-width: 650px;
    max-height: 352px;
}

.dashboard__refresh {
    margin-top: 10px;
}

/* 
.dashboard__header.ng-hide {
    opacity: 0;
}

.dashboard__headerImage.ng-hide {
    max-height: 0;

} */

/* .dashboard__headerText {
    font-size: 4em;
    padding-top: .2em;
    padding-left: .2em;
}

.bikeView {
    padding-bottom: 2em;
}

.bikeView__dropdown {
    width: 40%;
}

.bikeView__dropdown-ic {
    width: 100%;
}

.bikeView__details {
    width: 50%;
    max-width: 700px !important;
}

.bikeView__extraDetails,
.bikeView__bikeImages {
    width: 98.5%;
}

.bikeView__extraDetails p {
    margin-bottom: .5em;
}

.bikeImages__bikeImage-c {
    margin: .2em;
}
*/

.bikeImages__bikeImage,
.bikeImages__bikeImageWhiteBox
{
  width: 150px;
  height: auto;
  border-radius: 4px;
}

/*
.imageLightbox__image {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 4px;
}

.imageLightbox__content {
    padding-top: .1em !important;
}


.bikeView__bikeHeader {
    margin-top: .4em;
    margin-left: .3em;
    font-weight: 400;
}

.dotCtrlMenu {
    margin-right: 0 !important;
    margin-top: .2em;
    padding-right: 0 !important;
}

.bikeView__mileage {
    padding-top: .9em;
}
*/
.poweredByStravaIcon {
    padding-top: .7em;
    padding-left: .5em;
    padding-right: .4em;
    width: 150px;
    height: auto;
}


.componentView {
    padding: 20px
}

.search-toggle {
    margin: 18px 10px 0;
}

/*
.componentView__componentSearchSort {
    padding-left: 2.5em;
}

.componentSearch__input {
    width: 100%;
}
*/

/*                   */
/* FAB button styles */
/*                   */

.speed-dial {
    position: absolute;
    right: 50px;
    bottom: 50px;   
}
/* 
.md-fab-bottom-right {
    position:fixed !important;
    margin-bottom: 2em;
}

.speedDialButtonText {
    padding: 0;
    margin: 0;
    font-size: .8em;
}

.fabButton {
    width: 75% !important;
    height: 75% !important;
    background-color: white;
    border-radius: 50%;
    padding-bottom: 4px !important;
}

.fabButton:hover {
    background-color: rgba(197, 197, 197, 0.774) !important;
}

.speedDialButtonIcon {
    width: 50px; 
    height: 45px;
    margin-right: 2px;
} */

