<!-- <p *ngIf="user">Welcome {{ user.email }}!</p>
<p *ngIf="user">{{ user.uid }} </p> -->
<div *ngIf="!user">
  <label>Email</label>
  <input type="email" [(ngModel)]="model.userEmail">
  <label>Password</label>
  <input type="password" [(ngModel)]="model.userPassword">
  <input type="button" (click)="signin()" value="Sign In">
  <input type="button" (click)="signup()" value="Sign Up">
</div>
<div class="dashboard-container" fxLayout="column" fxLayoutAlign="stretch stretch">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center stretch">
    <div fxFlex fxFlexFill fxLayoutAlign="flex-end center">
      <div class="dashboard__refresh text-right" fxFlex="10%" fxFlexAlign="flex-end">
        <button mat-icon-button (click)="refresh()">
          <mat-icon matTooltip="Refresh" aria-label="Button to refresh the dashboard">autorenew</mat-icon>
        </button>
      </div>
    </div>
  </div> 
  <div fxLayout fxLayoutAlign="center center">
    <div class="dashboard__header">
      <img src="./assets/images/bikeHeader_dreamstime_71468702_web.png" class="dashboard__headerImage" alt="BikeTracker Icon" />
    </div>
  </div>
  <app-spinner *ngIf="progressFlag"></app-spinner>
  <div class="dashboard__content">
    <div class="bikeView">
      <div ng-show="bikes.length !== 0" class="bikeView__dropdown" fxLayout="row wrap" fxLayoutAlign="center stretch">
        <mat-form-field class="bikeView__dropdown-ic" fxFlex.lg="500px" fxFlex.xs="90%">
          <mat-select [(ngModel)]="currentBike" (ngModelChange)="getComponents(currentBike.fbId)" id="currentBikeSelector" placeholder="Choose a Bike" aria-placeholder="Choose a Bike">
            <mat-optgroup label="Bikes">
              <mat-option [value]="bike" *ngFor="let bike of bikes"> {{ bike.brandName }} {{ bike.modelName }}
              </mat-option>
            </mat-optgroup>
            <mat-option (click)="sendToAddBike()">
              <span> Add A New Bike... </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div ng-if="!currentUserProfile">
        <h2>Create a user profile first, then add a bike.</h2>
        <md-button ng-href="/#!/profile" class="md-raised md-primary">Create Profile</md-button>
      </div>
      <div ng-show="bikes.length === 0 && currentUserProfile" class="bikeView__addBikeButtons " layout="column">
        <h2 ng-if="!currentUserProfile.stravaId">Add a bike to start tracking your components. </h2>
        <md-button class="md-raised md-primary" ng-click="sendToAddBike()">Add A Bike</md-button>
        <h2 ng-if="!currentUserProfile.stravaId">Or link your Strava account on your Profile Page to import your saved bikes.</h2>
        <h2 ng-if="currentUserProfile.stravaId">Choose an option to start tracking a bike and it's components.</h2>
        <md-button ng-if="!currentUserProfile.stravaId" class="md-raised" ng-href="/#!/profile">Profile</md-button>
        <md-button ng-if="currentUserProfile.stravaId" class="md-raised md-warn" ng-click="importBikes()">Import Bike from Strava</md-button>
      </div>
      -->
      <div fxLayout="row wrap" fxLayoutAlign="center stretch" style="margin-top: 15px;">
        <div fxFlex="0 1 65%" fxFlex.xs="90%">
          <mat-card *ngIf="currentBike" class="bikeView__details" id="currentBikeDetails" fxFlex fxFlexAlign="center" fxLayout="column" fxLayoutAlign="space-between stretch">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon svgIcon="bicycle" style="color: black;" class="bikeView__icon"></mat-icon>
              </div>
              <mat-card-title>
                <div fxFlex class="bikeView__bikeHeader"> {{ currentBike.brandName }} {{ currentBike.modelName}}</div>
                <div fxFlex="10">
                  <mat-menu #appMenu="matMenu">
                    <button mat-menu-item (click)="sendToEditBike(currentBike)" aria-label="Edit Bike">
                      <mat-icon matTooltip="Edit Bike Info" [matTooltipShowDelay]="600">mode_edit</mat-icon>Edit
                    </button>
                    <button mat-menu-item (click)="showConfirmBike($event, currentBike)" aria-label="Delete Bike">
                      <mat-icon matTooltip="Delete Bike" [matTooltipShowDelay]="600">delete</mat-icon>Delete
                    </button>
                  </mat-menu>
                  <button mat-icon-button aria-label="Bike menu" class="md-icon-button dotCtrlMenu" [matMenuTriggerFor]="appMenu">
                    <mat-icon matTooltip="Options Menu" [matTooltipShowDelay]="600">more_vert</mat-icon>
                  </button>
                </div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="bikeView__mileage" fxFlex="1 1 0">Mileage: {{currentBike.mileage}} miles</div>
                <div *ngIf="!(currentBike)?.stravaBikeId">
                  <button mat-button class="mat-stroked-button mat-accent add-mileage-btn" (click)="addMileageModal()">Add Mileage</button>
                </div>
                <div>
                  <mat-icon *ngIf="currentBike.stravaBikeId" svgIcon="poweredByStravaHoriz" class="poweredByStravaIcon" matTooltip="Mileage synced with Strava"
                  [matTooltipShowDelay]="600"></mat-icon>
                </div>
              </div>
              <br />
              <br />
              <mat-accordion class="vAccordion--default bikeView__extraDetails">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      More Details...
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <span *ngIf="currentBike.serial">
                      <h5>Serial Number:</h5>
                      <p>{{currentBike.serial}}</p>
                    </span>
                    <span *ngIf="currentBike.purchaseDate">
                      <h5>Purchased:</h5>
                      <p> {{currentBike.purchaseDate | date}}</p>
                    </span>
                    <span *ngIf="currentBike.notes">
                      <h5>Notes:</h5>
                      <p> {{currentBike.notes}}</p>
                    </span>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Images
                  </mat-expansion-panel-header>
                  <div class="row justify-space-around">
                    <div *ngFor="let image of currentBike.images" class="bikeImages__bikeImageWhiteBox">
                      <img [src]="image" class="bikeImages__bikeImage" (click)="displayPhoto($event)" />
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Bike View Section -->

  <mat-divider *ngIf="currentBike"></mat-divider>

  <!-- Component Section -->
  <div *ngIf="components" class="componentView" fxFlex="100%">
    <div class="componentView__componentSearchSort" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div class="componentSearchSort__componentSearch" fxFlex fxFlexFill>
        <mat-form-field class="componentSearch__input" fxFlex="1 1 300px" fxFlex.sm="90%">
          <input matInput type="search" placeholder="Search Components" [(ngModel)]="componentSearch"
            id="searchComponentInput" aria-label="Search Bike Components" />
          <button *ngIf="componentSearch" matSuffix mat-icon-button aria-label="Clear" (click)="componentSearch=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="componentSearchSort__componentSortBy" fxFlex fxFlexFill>
        <mat-form-field class="componentSearchSort__sortDropDown" fxFlex="1 1 300px" fxFlex.sm="90%">
          <!-- in AngularJS I used a "trackBy" property on this select. Is there an equivalent in Angular 2+? YES there is -->
          <mat-select [(ngModel)]="sortSelector" (ngModelChange)="setSortOrder(sortSelector)"
            placeholder="Sort Components" aria-label="Sort Components By">
            <mat-option [value]="sort" *ngFor="let sort of sortOrderArray">{{ sort.title }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="toggles" fxFlex fxFlexFill fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.sm="start center">
        <div class="search-toggle" fxFlex fxFlexAlign="start">
          <mat-slide-toggle [(ngModel)]="isSortReverse" id="sortReverseBox" aria-label="Reverse Results"
          class="componentSearchSort__reverseSwitch">Reverse</mat-slide-toggle>
        </div>
        <div class="search-toggle" fxFlex fxFlexAlign="start">
          <mat-slide-toggle (change)="filterComponents(showActiveComponents)" [(ngModel)]="showActiveComponents"
          aria-label="Active Components Only" class="componentSearchSort__activeSwitch">Installed</mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentBike && !components" fxFlex="100%" fxFlexAlign="center">
    <h4>Click the button to start tracking your first component</h4>
    <button mat-raised-button color="primary" (click)="sendToAddComponent()">Add A Component</button>
  </div>

  <app-component-list [components]="filteredComponents"></app-component-list>
  <div class="speed-dial">
    <eco-fab-speed-dial direction="left">
      <eco-fab-speed-dial-trigger>
        <button mat-fab style="background-color: tomato;"><mat-icon>add</mat-icon></button>
      </eco-fab-speed-dial-trigger>
      <eco-fab-speed-dial-actions>
        <button mat-mini-fab (click)="sendToAddComponent()" style="background-color: white;"><mat-icon svgIcon="crankset" style="color: black; margin-top: -5px;" matTooltip="Add Component" matTooltipPosition="above"></mat-icon></button>
        <button mat-mini-fab (click)="sendToAddBike()" style="background-color: white;"><mat-icon svgIcon="bicycle" style="color: black; margin-top: -5px;" matTooltip="Add Bike" matTooltipPosition="above"></mat-icon></button>
        <button mat-mini-fab (click)="sendToImportBike()" style="background-color: white;"><mat-icon svgIcon="bicycle" style="color: tomato; margin-top: -5px;" matTooltip="Import Bike From Strava" matTooltipPosition="above"></mat-icon></button>
      </eco-fab-speed-dial-actions>
    </eco-fab-speed-dial>
  </div>