.wishlist-container {
    padding: 20px;
}

.wishlist-container .mat-expansion-panel-header-description {
    justify-content: end;
    align-items: center;
    flex-grow: 0;
}

.wishView__reverseSwitch {
    margin: 18px 10px 0;
}

.wish__description {
    margin-bottom: 10px;
}