<app-navigation></app-navigation>


        <div class="example-sidenav-content">
            <button type="button" md-button (click)="sidenav.open()">
                Open Sidenav
            </button>
            <button type="button" md-button (click)="sidenav.close()">
                Close Sidenav
            </button>
        </div>
        
        <label>Email</label>
        <input type="email" [(ngModel)]="model.userEmail">
        <label>Password</label>
        <input type="password" [(ngModel)]="model.userPassword">
        <input type="button" (click)="signin()" value="Sign In">
        <input type="button" (click)="signup()" value="Sign Up">
        
        <app-dashboard></app-dashboard>

