<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" (opened)="isNavOpen = true" (closed)="isNavOpen = false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/dashboard">
        <mat-icon class="md-primary">dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item href="/wishlist">
        <mat-icon>list</mat-icon>
        Wishlist
      </a>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="nav__defaultProfileImage">account_circle</mat-icon>
          <!-- <img ng-src="{{currentUserProfile.image}}" class="nav__profileImage" ng-show="currentUserProfile.image" /> -->
        User
        </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item ng-href="/#!/profile">
              <mat-icon>account_circle</mat-icon> Profile
          </button>
          <button mat-menu-item (click)="logout()" value="Log out">
              <mat-icon>exit_to_app</mat-icon> Logout
          </button>
      </mat-menu>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="!isNavOpen" class="navToggleBtn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button *ngIf="isNavOpen" class="navToggleBtn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">chevron_left</mat-icon>
      </button>
      <h5 class="nav__appName">Trackd.Me</h5>
    </mat-toolbar>

    <app-dashboard></app-dashboard>

  </mat-sidenav-content>
</mat-sidenav-container>